.DS_Store
**/xcuserdata/
**/*.mlpackage/
**/*.pt

## Build generated
.build/
build/
Staging/

## Various settings
*.pbxuser
*.mode1v3
*.mode2v3

# Swift Package Manager
Packages/
Package.pins
Package.resolved